html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid white;
    margin-bottom: 1rem;
}
